<!Doctype html>
<html>
<head>
  <title>
    Politics
  </title>
  {% load staticfiles %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,500" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'main/style.css' %}">
  <link rel="stylesheet" href="{% static 'main/tingle.css' %}">
</head>
<body>
  <main>
    <div class="main" id = "particles-js">
      <div class="main-header">
        <div class="form-details">
          <span class="form-heading">
            <b>The Ballot Box</b>
          </span>

          <span class="form-description">
            Please continue and fill-up the form to get the predicted probability.
          </span>
        </div>
      </div>
      <div class="main-form">
        <div class="navigation previous">
          <span><i class="fa fa-chevron-left"></i></span>
        </div>
        <div class="active-form-content">
          <form action="." class="form-body" method="post">
            {% csrf_token %}
            <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label"><b><center>Based on the data we collected about the campaigning strategies of the 
                  two major political fronts Indian National Congress and Bharatiya Janata Party, we have developed a server
                  and a machine learning model that could predict your probability of giving vote to a particular party.   
                </center></b><br><br>
<center>
</center></h2>
                </div>
              </div>
            </div>
            <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label">Which age group do you belong to?</h2>
                  <ul class="radio-options-list">
                    <li>
                      <input type="radio" id="acad-f-option" name="acad" value="1" required>
                      <label for="acad-f-option" class="radio-label">18-25</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="acad-s-option" name="acad" value="2" required>
                      <label for="acad-s-option" class="radio-label">26-42</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                      <input type="radio" id="acad-option3" name="acad" value="3" required>
                      <label for="acad-option3" class="radio-label">43-60</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>

                     <li>
                      <input type="radio" id="acad-option4" name="acad" value="4" required>
                      <label for="acad-option4" class="radio-label">Above 60</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>


            <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label">What is your current occupation?</h2>
                  <ul class="radio-options-list">
                    <li>
                      <input type="radio" id="addict-f-option" name="addict" value="3" required>
                      <label for="addict-f-option" class="radio-label">Student</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="addict-s-option" name="addict" value="0" required>
                      <label for="addict-s-option" class="radio-label">Private Job</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                      <input type="radio" id="addict-option3" name="addict" value="1" required>
                      <label for="addict-option3" class="radio-label">Business</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="addict-option4" name="addict" value="2" required>
                      <label for="addict-option4" class="radio-label">Government Job</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                      <input type="radio" id="addict-option5" name="addict" value="4" required>
                      <label for="addict-option5" class="radio-label">Unemployed</label>
                      <div class="check"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label">Which news source do you follow the most for keeping yourself updated with political
                   news</h2>
                  <ul class="radio-options-list">
                     <li>
                      <input type="radio" id="frate-f-option" name="frate" value="3" required>
                      <label for="frate-f-option" class="radio-label">Aaj Tak</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="frate-s-option" name="frate" value="2" required>
                      <label for="frate-s-option" class="radio-label">Abp news</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                      <input type="radio" id="frate-option3" name="frate" value="0" required>
                      <label for="frate-option3" class="radio-label">India TV</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="frate-option4" name="frate" value="1" required>
                      <label for="frate-option4" class="radio-label">India today</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                      <input type="radio" id="frate-option5" name="frate" value="4" required>
                      <label for="frate-option5" class="radio-label">In-shorts</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                      <input type="radio" id="frate-option6" name="frate" value="5" required>
                      <label for="frate-option6" class="radio-label">Others</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>

            <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label">Which age-group political leader do you think is a better candidate? </h2>
                  <ul class="radio-options-list">
                    <li>
                      <input type="radio" id="year-f-option" name="year" value="0" required>
                      <label for="year-f-option" class="radio-label">25-45</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="year-s-option" name="year" value="1" required>
                      <label for="year-s-option" class="radio-label">45-60</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                      <input type="radio" id="year-option3" name="year" value="2" required>
                      <label for="year-option3" class="radio-label">Above 60</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="year-option4" name="year" value="3" required>
                      <label for="year-option4" class="radio-label">No preference</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label">What religious group do you belong?</h2>
                  <ul class="radio-options-list">
                    <li>
                      <input type="radio" id="binge-f-option" name="binge" value="3" required>
                      <label for="binge-f-option" class="radio-label">Christian</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="binge-s-option" name="binge" value="0" required>
                      <label for="binge-s-option" class="radio-label">Sikh</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                      <input type="radio" id="binge-option3" name="binge" value="1" required>
                      <label for="binge-option3" class="radio-label">Muslim</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="binge-option4" name="binge" value="2" required>
                      <label for="binge-option4" class="radio-label">Hindu</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>

                    <li>
                      <input type="radio" id="binge-option5" name="binge" value="4" required>
                      <label for="binge-option5" class="radio-label">Others</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label">Should religious organisations have a say in politics?</h2>
                  <ul class="radio-options-list">
                    <li>
                      <input type="radio" id="frequent-f-option" name="frequent" value="3" required>
                      <label for="frequent-f-option" class="radio-label">Yes</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="frequent-s-option" name="frequent" value="0" required>
                      <label for="frequent-s-option" class="radio-label">No</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label">On what basis do you assess a political leader? </h2>
                  <ul class="radio-options-list">
                    <li>
                      <input type="radio" id="taste-f-option" name="taste" value="1" required>
                      <label for="taste-f-option" class="radio-label">News on T.V</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="taste-s-option" name="taste" value="2" required>
                      <label for="taste-s-option" class="radio-label">Articles in the newspaper</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                      <input type="radio" id="taste-option3" name="taste" value="3" required>
                      <label for="taste-option3" class="radio-label">Attend events where the candidate is addressing the people
                      </label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="taste-option4" name="taste" value="4" required>
                      <label for="taste-option4" class="radio-label">The family up-bringing of the candidate</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                      <input type="radio" id="taste-option5" name="taste" value="5" required>
                      <label for="taste-option5" class="radio-label">Other</label>
                      <div class="check"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label">What will you prefer from the following two?</h2>
                  <ul class="radio-options-list">
                    <li>
                      <input type="radio" id="peer-f-option" name="peer" value="1" required>
                      <label for="peer-f-option" class="radio-label"> Monthly Rs.15000 allowance from the government</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="peer-s-option" name="peer" value="2" required>
                      <label for="peer-s-option" class="radio-label">A Rs. 20,000 job at a construction site </label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

  <!--

           <div class="input-element">
              <div class="central-input">
                <div class="radio-container">
                  <h2 class="input-label">How responsible is the following reason to continue alcohol:
                  <center><b>"Family Culture"</b></center></h2>
                  <ul class="radio-options-list">
                    <li>
                      <input type="radio" id="family-f-option" name="family" value="1" required>
                      <label for="family-f-option" class="radio-label">1</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="family-s-option" name="family" value="2" required>
                      <label for="family-s-option" class="radio-label">2</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                      <input type="radio" id="family-option3" name="family" value="3" required>
                      <label for="family-option3" class="radio-label">3</label>
                      <div class="check"></div>
                    </li>

                    <li>
                      <input type="radio" id="family-option4" name="family" value="4" required>
                      <label for="family-option4" class="radio-label">4</label>
                      <div class="check"><div class="inside"></div></div>
                    </li>
                    <li>
                      <input type="radio" id="family-option5" name="family" value="5" required>
                      <label for="family-option5" class="radio-label">5</label>
                      <div class="check"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          -->
            <div class="input-element">
                                <div class="central-input">
                                    <label for="" class="input-label">Submit the form to get the best out of us</label>
                                    <input type="submit" name="name">
                                </div>
                            </div>
          </form>
        </div>
        <div class="navigation next">
          <span><i class="fa fa-chevron-right"></i></span>
        </div>
      </div>
      
    </div>
  </main>
  <script src="{% static 'main/script.js' %}"></script>
  <script src="{% static 'main/tingle.js' %}"></script>
  <script src="{% static 'main/particles.js' %}"></script>
  <script src="{% static 'main/app.js' %}"></script>
  <script>
  {%if res %}
  var modal = new tingle.modal({
    footer: true,
    stickyFooter: false,
    closeMethods: ['escape','overlay'],

    cssClass: ['custom-class-1', 'custom-class-2'],
    onOpen: function() {
      console.log('modal open');
    },
    onClose: function() {
      console.log('modal closed');
    },
    beforeClose: function() {
        // here's goes some logic
        // e.g. save content before closing the modal
        return true; // close the modal
      }
    });
    modal.addFooterBtn('Close', 'tingle-btn tingle-btn--default tingle-btn--pull-right', function(){
     modal.close();
    });

    // set content
    modal.setContent('<center><h2>BJP is '+'{{resultbjp}}%</h2><br><h2>Congress is '+'{{resultinc}}%</h2><br><h2>Others are '+'{{resultoth}}%</h2></center>');
    // open modal
    modal.open();
  </script>
  {% endif %}

</body>
</html>
